
*{
    margin: 0;
    font-size: 0;
    box-sizing: border-box;
}
#grid{
    width: 80%;
    margin: auto;
    height: 500px;
}
.box{
    height: 25%;
}
.pink{
    height: 100%;
    background-color: #F5C6D6;
    width: 100%;
    display: inline-block;
    border: 5px solid white;
}
.darkPink{
    height: 100%;
    background-color:#EE2E84;
    width: 25%;
    display: inline-block;
    border: 5px solid white;
}
.blue{
    height: 100%;
    background-color:#85CFD8;
    width: 50%;
    display: inline-block;
    border: 5px solid white;
}
.green{
    height: 100%;
    background-color: #8DC63F;
    width: 75%;
    display: inline-block;
    border: 5px solid white;
}
.orange{
    height: 100%;
    background-color:#E76E34;
    width: 25%;
    display: inline-block;
    border: 5px solid white;
}