.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 50px 50px;
    grid-gap: 5px;
}
.one{
    background-color: red;
}

 .two{
    background-color: blue; 
}
.three{
    background-color: green;
}
.four{
    background-color: purple;
}
.five{
    background-color: yellow;
} 