body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 100px 300px 50px;
    font-family: 'Libre Baskerville', sans-serif;
}

header {
    grid-column: 1/-1;
    grid-row: 1/2;
    background: url("./images/contours@2x.png"), url("./images/noise.png"), url("./images/gridlines.png"), url("./images/huntington.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header>h1 {
    margin-top: -165px;
    margin-left: -320px;
    border-bottom: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3.2em;
    text-transform: uppercase;
    color: #fff;
}

header>h2 {
    display: block;
    padding-top: 5px;
    padding-bottom: 30px;
    border-top: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6em;
    font-style: italic;
    margin-top: -35px;
    margin-left: -480px;
}

header>img {
    display: inline-block;
    position: relative;
    height: 250px;
    top: 25px;
    left: -485px;
    opacity: 0.5;
}
/* p{
    font-family: 'Libre Baskerville', sans-serif;
} */

h3{
    margin: 2em 0 0 0;
    color: #2e484c;
    /* font-family: 'Julius Sans One', sans-serif; */
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
}

.first {
    background-color: #fff;
    grid-column: 1/2;
    grid-row: 2/5;
}

.second {
    background-color: rgba(138,188,159,0.5);
    grid-column: 1/2;
    grid-row: 5/7;
    
}

.third {
    grid-column: 1/2;
    grid-row: 7/9;
}

.fourth {
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 9/11;
    background-size: 50% auto, auto, auto, cover;
    background-image: url(./images/contours@2x.png), url(./images/gridlines.png), url(./images/noise.png), url(./images/koi.jpg);
    /* font-family: 'Libre Baskerville', sans-serif; */
    font-style: italic;
    line-height: 2;
    width: auto;
    padding: 1em 12%;
}

.fourth p:last-child{
    margin: 2em 0 0 0;
    color: rgba(255, 255, 255, 0.4);
    /* font-family: 'Libre Baskerville', sans-serif; */
    font-style: italic;
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
    line-height: 2;
}
.fourth p:last-child a{
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    /* font-family: 'Libre Baskerville', sans-serif; */
}

.design-selection {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
    grid-column: 2/3;
    grid-row: 2/5;
    background-color: #e5ede8;
}

.design-archives {
    margin-left: 850px;
    margin-top: -140px;
    grid-column: 2/3;
    grid-row: 4/6;
   
    
}

.zen-resources{
    grid-column: 2/3;
    grid-row: 5/7;
    background-color:#b3d0bf;
}

.design-blank {
    background-color: #e5ede8; 
    grid-column: 2/3;
    grid-row: 7/9;
}

footer {
    grid-column: 1/-1;
    grid-row: 11/-1;
}