*{
    margin: 0;
    font-size: 0;
    box-sizing: border-box;
}

#box1a{
    font-size: 10px;
    background-color: #F5C6D6;
    display: inline-block;
    padding: 100px;
    margin: 30px 100px;
}

.box2{
    display: inline-block;
    margin: 30px 100px;
}

#box2a{
    font-size: 10px;
    display: inline-block;
    background-color: #EE2E84;
    padding: 100px;
    margin: 5px;;
}

#box2b{
    font-size: 10px;
    display: inline-block;
    background-color: #EE2E84;
    padding: 100px;
    margin: 5px;
}

#box2c{
    font-size: 10px;
    display: inline-block;
    background-color: #EE2E84;
    padding: 100px;
    margin: 5px;
}

#box2d{
    font-size: 10px;
    display: inline-block;
    background-color: #EE2E84;
    padding: 100px;
    margin: 5px;
}

.box3{
    margin: 50px 50px 20px;
}

#box3a{
    font-size: 10px;
    display: inline-block;
    background-color: #85CFD8;
    padding: 100px;
    margin: 5px;
}

#box3b{
    font-size: 10px;
    display: inline-block;
    background-color: #85CFD8;
    padding: 100px;
    margin: 5px;
}

.box4{
    margin: 50px 50px 20px;
}

#box4a{
    font-size: 10px;
    display: inline-block;
    background-color: #8DC63F;
    padding: 100px;
    margin: 5px;
}

#box4b{
    font-size: 10px;
    display: inline-block;
    background-color:#E76E34;
    padding: 100px;
    margin: 5px;
}